.calendar-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.upper-calendar-cell {
    display: flex;
    justify-content: space-between;
}
.calendar-cell {
    border: 1px solid black;
}
.calendar-day, .calendar-day-of-the-week {
    padding: 5px;
}
.event-item {
    display: flex;
    justify-content: center;
}