.popup__wrapper {
    width: 220px;
    height: 160px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px;
    z-index: 2;
    background: aliceblue;
    position: absolute;
left: 50%;
top: 50%;
margin-left: -110px;
margin-top: -130px;
}
.popup__title {
    display: flex;
    justify-content: space-between;
}
.popup__input, .popup__input-date-left, .popup__input-date-right {
    display: flex;
    flex-direction: column;
}
